button {
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(111, 237, 214);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(255, 149, 81);
}

.equals:hover {
  background-color: rgb(255, 74, 74);
}
